<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd" >


	<!-- BaseDao -->
	<bean id="baseDaoImpl" class="www.csdn.project.dao.impl.BaseDaoImpl"
		parent="hibernateDaoSupport" />

	<!-- AdminDao -->
	<bean id="adminsDaoImpl" class="www.csdn.project.dao.impl.AdminsDaoImpl"
		parent="hibernateDaoSupport" />

 	<!-- CommentsDao -->
	<bean id="commentsDaoImpl" class="www.csdn.project.dao.impl.CommentsDaoImpl"
		parent="hibernateDaoSupport" />

	<!-- MessagesDao -->
	<bean id="messagesDaoImpl" class="www.csdn.project.dao.impl.MessagesDaoImpl"
		parent="hibernateDaoSupport" />

	<!-- PicturesDao -->
	<bean id="picturesDaoImpl" class="www.csdn.project.dao.impl.PicturesDaoImpl"
		parent="hibernateDaoSupport" />

	<!-- UsersDao -->
	<bean id="usersDaoImpl" class="www.csdn.project.dao.impl.UsersDaoImpl"
		parent="hibernateDaoSupport" />
		
 	<!-- UserinfoDao -->
	<bean id="userinfoDaoImpl" class="www.csdn.project.dao.impl.UserinfoDaoImpl"
		parent="hibernateDaoSupport" />

	<!-- AnniversaryDao -->
	<bean id="anniversaryDaoImpl" class="www.csdn.project.dao.impl.AnniversaryDaoImpl"
		parent="hibernateDaoSupport" />

	<!-- AlbumDao -->
	<bean id="albumDaoImpl" class="www.csdn.project.dao.impl.AlbumDaoImpl"
		parent="hibernateDaoSupport" />
		
   <!-- AffairDao -->
	<bean id="affairDaoImpl" class="www.csdn.project.dao.impl.AffairDaoImpl"
		parent="hibernateDaoSupport" />	
		
	<!-- ReviewDao -->
	<bean id="reviewDaoImpl" class="www.csdn.project.dao.impl.ReviewDaoImpl"
		parent="hibernateDaoSupport" />		

</beans>